* {
  box-sizing: border-box;
}

:root {
  --color-bg: #2C2C32;
  --color-active: #0f7dc6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */

}

header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
}

header>a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

header>a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin: 0;
}

h2{
  margin: 0;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}

main a:hover {
  text-decoration: underline;
}

.active-link {
  color: var(--color-active);
  cursor: default;
}

.registrationForm__container{
    display: flex;
      border: 1px solid #ddd;
      border-radius: 5px;
      width: 450px;
      height: 320px;
      padding: 25px 25px 0px 25px;
      padding-bottom: 0px;
      background-color: rgb(177, 174, 174);
      margin: 25px auto 0 auto;
      font-size: inherit;
      font-family: inherit;
}



input {
  display: block;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 400px;
  height: 40px;
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  /* margin-bottom: 15px; */
}

.formik-errors-message{
 height: 20px;
 margin: 0;
}



button {
  background-color: #bab9bf;
  border: none;
  border-radius: 5px;
margin: 0 auto;
  display: block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  color: #212121;
}

button:hover,
button:focus {
  background-color: #2196f3;
  color: white;
}


/* popup */
.popup {
  z-index: 20;
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  }

button.popup-close {
  position: absolute;
  background: transparent;
  color: #ffffff;
  border: none;
  top: -30px;
  right: -35px;
  font-size: 3rem;
  font-weight: 300;
  padding: 0px;
}

.popup-content {
  position: fixed;
  text-align: center;
  width: 40vw;
  padding: 20px;
  left: 50%;
  top: 14%;
  background-color: #ededed;
  border-radius: 12px;
  transform: translateX(-50%);
  /* overflow: auto; 
  height: 500px; */
}

.popup-content.add__tour{
  width: 80vw;
  height: 80vh;
}

input.add_tour{
  width: 65vw;
}

input.add_tour.description{
  height: 160px;
}



.registrationForm__container.add__tour{
  width: 70vw;
  height: 70vh;
}

.close__svg{
  fill: #ededed;
  margin-left: 15px; 
  padding-left: 0px; 
  cursor: pointer;
}

.close__svg:hover,
.close__svg:focus{
  fill: #ff6b08;
}



/* .modal{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
}

.modal.active{
  opacity: 1;
  pointer-events: all;
}

.modal__content{
  padding: 20px;
  border-radius: 12px;
  background-color: white;  
  width: 60vw;
  transform:scale(0.5);
  transition: 0.4s all;
}  

.modal__content.active{
  transform: scale(1);
} */

.dropdown__link{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 140px;
  margin-top: 20px;
  border: 2.4px solid white;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px;
}

.dropdown__window{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  width: 180px;  
  position: absolute;
  top: 0px;
  right: 65px;
  margin-right: 80px;
  margin-top: 100px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
  0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  /* padding: 15px 15px;     */
}

.dropdown__item{
  padding: 6px 0 6px 15px;
  height: 40px;  
  width: 100%;
  align-items: center;
  text-align:start;
  vertical-align: bottom;
  color: #2C2C32;
  text-decoration: none;
}

.dropdown__item:hover,
.dropdown__item:focus{
  background-color: #f1f0f3;
  font-weight: 700;
}

.login__person * {
  fill: white;  
}

.headerOrder__container{
  display: flex;
  justify-content:space-between;
  /* border: 1px solid #ddd; */
  width: 70px;
  padding: 0px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 40px;
  margin-top: 30px;

}

.headerOrder__item{
  list-style-type: none;
  cursor: pointer;
}

.headerOrder_svgwishlist{
  fill: white;    
  transition: color, transform 300ms ease;
  z-index: 1;
  position: relative;
}

.headerOrder_svgwishlist:hover,
.headerOrder_svgwishlist:focus{
background-color: #bab9bf;
border-radius: 5px;
transform: scale(1.2);

}

.headerOrder_svgbasket {
  fill: white;  
  transition: color, transform 300ms ease;
  position: relative;

}

.headerOrder_svgbasket:hover,
.headerOrder_svgbasket:focus{
background-color: #bab9bf;
border-radius: 5px;
transform: scale(1.2);
}

.headerLogined_person{
  color: white;
  position: absolute;
  top:15px;
  right: 140px;
}

.headerLogined_person.add_tour{
  top: 35px;
  right: 140px;
}

.circle_basket{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: -15px;
  right:-15px;
  text-align: center;
  color: white;
 }

 .circle_basket.ishidden{
  visibility: hidden;
 } 

.circle_wishList{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: -15px;
  right: 28px;
  text-align: center;
  color: white;
}

 .circle_wishList.ishidden {
   visibility: hidden;
 }

/* Card */
.tours__item {
  width: 100%;
  list-style-type: none;
  border: 1px solid gray;
  border-radius: 15px;
  position: relative;
  padding: 10px;
  margin-top: 10px;
}

.wrap{
  display: flex;
  flex-direction: row;
}

.tours__link {
  text-decoration: none;
}

.toursItemImage__container{
  display: flex;
  flex-direction: column;
}

.toursItem__image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  object-fit: cover;
  border-radius: 5px;
  height: 120px;
  z-index: 1;
  margin-top: 10px;  
}

.tour__text-part{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 15px;
}

/* Card btns */

.tourCard__svgbasket{
  fill: white;
  transition: color, transform 300ms ease;
}

.tourCard__svgwishlist{
  fill: #ff6b08;
  transition: color, transform 300ms ease;
  margin-left: 15px; 
  padding-left: 0px; 
  color: #ff6b08;
  cursor: pointer;
}

.movie__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  text-decoration: none;
  color: #000000;

}

.tours__btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 20px;
}

.cardTours__btn{
  background-color: #ff6b08;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;
  height: 38px;
  padding: 6px 10px;
  margin: 0px 5px;
}

/* .cardTours__btn:disabled{
  cursor: default;
  background-color: #dfb192;
} */

/* Data for filter */
.tourData__forFilter{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.tourData__forFilter__item{
  font-weight: 700;
  margin-left: 30px;
  cursor: pointer;
  color: rgb(94, 94, 94);

}

.tourData__forFilter__item:first-child {
 margin-left: 0px;
}

/* Basket */

button.btnDelete__good {
  position: absolute;
  background: transparent;
  color: #ffffff;
  border: none;
  top: -13px;
  right: 5px;
  font-size: 3rem;
  font-weight: 300;
  padding: 0px;
}

.svgDelete__good {
  fill: gray;
  margin-left: 15px;
  padding-left: 0px;
  cursor: pointer;
}

.svgDelete__good:hover,
.svgDelete__good:focus {
  fill: #ff6b08;
}

/* Become an Author */

.becomeAnAuthor__text{
  text-align: center;
}

/* DropDown Filter */
.dropdown__startWindow__container{
  position: absolute;
top: 170px;
right: 70px;
}

.dropdown__startWindow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  border: 1.2px solid gray;
  height: 25px;
  width: 180px;
  border-radius: 5px;
  padding: 0 5px;
  box-shadow:0px 0px 13px 1px rgba(229,212,62,1);
-webkit-box-shadow:0px 0px 13px 1px rgba(229,212,62,1);
-moz-box-shadow:0px 0px 13px 1px rgba(229,212,62,1);
cursor: pointer;
}

.dropdown__startWindow:hover,
.dropdown__startWindow:focus{
  box-shadow:0px 0px 13px 2px rgba(248,146,22,1);
-webkit-box-shadow:0px 0px 13px 2px rgba(248,146,22,1);
-moz-box-shadow:0px 0px 13px 2px rgba(248,146,22,1);
}

.dropdown__text{
  margin: 0;
}

.dropdown__startWindow__svg {
  fill: gray
}

.dropdownWindowSort__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
  width: 180px;  
  position: absolute;
  top: 20px;
  right: 0px; 
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
  0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}




.dropdownWindowSort__Item{
  width: 100%;
  list-style-type: none;
  padding: 2px 0 2px 8px;
  height: 40px;  
  width: 100%;
  align-items: center;
  text-align:start;
  vertical-align: bottom;
  color: #2C2C32;
  text-decoration: none;
  cursor: pointer;
}

.dropdownWindowSort__Item:hover,
.dropdownWindowSort__Item:focus{
  background-color: #f1f0f3;
  font-weight: 700;
}